<mat-card class="flower-card">
  <mat-card-header>
    <mat-card-title>{{ flower.name }}</mat-card-title>
    <mat-card-subtitle>{{ flower.binomialName }}</mat-card-subtitle>
  </mat-card-header>
  <div class="container-img">
    <img
      mat-card-image
      class="card-img"
      src="{{ flower.imgUrl }}"
      alt="Photo of a {{ flower.name }}"
    />
  </div>
  <mat-card-content>
    <p>{{ flower.price | currency : "EUR" }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="basic"
      [routerLink]="'/detail/' + flower.id"
    >
      Leer mas...
    </button>
  </mat-card-actions>
</mat-card>
