/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flower-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flower-card-list {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.container-img {
  height: 230px;
  overflow: hidden;
}

mat-card-content {
  margin-top: 10px;
}
